<?xml version="1.0" encoding="UTF-8"?>
<beans default-lazy-init="true"
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd             http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">
    <!-- The core application context -->
   
    <!-- 
    <import resource="classpath*:spring/applicationContext-aop.xml"/>
    <import resource="classpath*:spring/applicationContext-webapp.xml"/>
     -->
    <import resource="classpath*:spring/applicationContext-activiti.xml"/>
    <import resource="classpath*:spring/applicationContext-dao.xml"/>
    <import resource="classpath*:spring/applicationContext-drools.xml"/>
    <import resource="classpath*:spring/applicationContext-globle.xml"/>
    <import resource="classpath*:spring/applicationContext-service.xml"/>
    <import resource="classpath*:spring/applicationContext-shiro.xml"/>
  
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${jdbc.driverClassName}"/>
        <property name="url" value="${jdbc.url.test}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>
     
    <context:annotation-config />
</beans>
